
@font-face {
    font-family: myFirstFont;
    src: url("fonts/sansation.light.ttf");
}
                
@font-face {
    font-family: myFirstFont;
    src: url("fonts/sansation.bold.ttf");
    font-weight: bold;
}
                
* {
    font-family: myFirstFont;
    }
    body {
        line-height: 26px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #777777; }
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; }
      